OPS_CONSOLE_USE_MOCK=true
OPS_CONSOLE_CORS=http://localhost:5173,http://127.0.0.1:5173

CVP_HOST=
CVP_PORT=443
CVP_TOKEN=
CVP_USERNAME=
CVP_PASSWORD=
CVP_CA_FILE=
CVP_CERT_FILE=
CVP_KEY_FILE=
CVP_INSECURE_TLS=false
CVP_DEVICE_IDS=
