OPS_CONSOLE_USE_MOCK=true
OPS_CONSOLE_CORS=http://localhost:5173,http://127.0.0.1:5173
OPS_CONSOLE_WORKPLAN_TEMPLATE=
OPS_CONSOLE_WORKPLAN_SNAPSHOT_MAP=10.172.152.33=87f82434-86ec-4b32-97a4-1a35cb28fed5,10.172.152.36=ac29deb8-7758-4631-aad5-3f85364b2163,10.172.64.252=6cef45c4-97e2-4454-83be-c7943b9d350f
OPS_CONSOLE_WORKPLAN_SNAPSHOT_DEFAULT=ff7046bc-e60e-4d26-bde8-c97215f8417f

CVP_HOST=
CVP_PORT=443
CVP_TOKEN=
CVP_USERNAME=
CVP_PASSWORD=
CVP_CA_FILE=
CVP_CERT_FILE=
CVP_KEY_FILE=
CVP_INSECURE_TLS=false
CVP_DEVICE_IDS=
